@font-face {
    font-family: "DisposableDroidBB";
    src: url("../fonts/DisposableDroidBB.woff") format("woff"),
         url("../fonts/DisposableDroidBB.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}