body {
    text-align: center;
    background-color: #929171
}

.screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 600px;
}

#screen {
    margin: 0;
    position: absolute;
    width: 800px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 10px solid #5e5d48; 
    border-right: 12px solid #79785b; 
    border-left: 12px solid #79785b; 
    border-bottom: 14px solid #b9b894; 
    border-radius: 32px;
    overflow: hidden;
 }